* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 120px 500px 50px 50px;
}

.header {
    display: grid;
    background-color: black;
    color: white;
    justify-items: center;
}

img.foto {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-template-rows: 4fr;
    justify-content: center;
}

.date {
    display: grid;
    grid-row-start: 6;
}

.text {
    display: none;
}