* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
}

section.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

nav {
    display: flex;
    flex-direction: row;
}