* {
    box-sizing: border-box;
}

section.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

nav li {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 0 0 100%;
}

nav ul li h2 {
    display: flex;
    justify-content: center;
}

@media (min-width: 500px) {
    body {
        background-color: aquamarine;
    }

    nav li {
        display: flex;
    }

    nav li {
        display: flex;
    }
}